<div class="container ">
    <div class="row">

        <div class="card text-center">
            <div class="card-header bg-danger text-white">
              REPORTE <i class="fa-solid fa-circle-exclamation"></i>
            </div>
            <div class="card-body">
                <img class="foto" src="https://cdn.pixabay.com/photo/2018/10/09/08/20/auto-3734396_960_720.jpg"  alt="">
                <p>Fecha: 22/07/2022</p>
                <p>Repotado por: Josue Guardado</p>
                <p>
                    <span class="badge text-bg-primary">Incidente</span>
                    <span class="badge text-bg-primary">Accion insegura</span>
                    <span class="badge text-bg-primary">Otros</span>

                </p>
                <p>La escalera esta mal colocada, puede causar daños a las personas</p>
                <a routerLink="/reportes" class="btn btn-primary">Volver </a>
            </div>
            <div class="card-footer text-muted">
              SYSO-ITCHA
            </div>
          </div>

    </div>
</div>
